body {
  margin: 0;
  background-color: #f0ead2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-button {
  background-image: url('../assets/SVG/logo.svg');
  background-size: 30vh;
  background-position: -2vh -1vh;
  background-repeat: no-repeat;
  
}

.bigger {
  
  transform: scale(5.1) !important;
  /* display: none; */
}