@media screen and (max-width: 700px) {
    .content {
        height: 85vh;
        width: 98vw;
        padding-top: 15vh;
    }

    .sider {
        height: 7vh;
        width: 50vw;
        border-radius: 4vh;
        flex-direction: row;
        position: absolute;
        top: 5vh;
        box-shadow: 0px 7px 20px #00000050;
        transform: translateY(0px);
        transition: all 0.55s ease-in-out;

    }

    .sider:hover {
        transform: translateY(-5px);
        transition: all 0.55s ease-in-out;
    }

    .header {
        height: 5vh;
        width: 98vw;
    }

    .bar {
        display: none;
    }

    .middle-icon {
        margin-left: 7vh;
        margin-right: 7vh;

    }

    .stats-icon {
        display: none;
    }

    .icon{
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .inventory-table {
        display: none;
    }

    .saler-1 {
        display: none;
    }

    .saler-2 {
        display: flex;
    }


}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .content {
        height: 85vh;
        width: 98vw;
        padding-top: 15vh;
    }

    .sider {
        height: 8vh;
        width: 65vw;
        border-radius: 4vh;
        flex-direction: row;
        position: absolute;
        top: 5vh;
        box-shadow: 0px 7px 20px #00000050;
        transform: translateY(0px);
        transition: all 0.25s ease-in-out;

    }

    .sider:hover {
        transform: translateY(-5px);
        transition: all 0.25s ease-in-out;
    }

    .header {
        height: 5vh;
        width: 98vw;
    }

    .bar {
        display: none;
    }

    .middle-icon {
        margin-left: 7vh;
        margin-right: 7vh;

    }

    .icon{
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .stats-icon {
        display: none;
    }

    .inventory-table {
        display: none;
    }

    .saler-1 {
        display: flex;
    }

    .saler-2 {
        display: none;
    }


}

@media screen and (max-height: 200px) {
    .content {
        height: 85vh;
        width: 98vw;
        padding-top: 15vh;
    }

    .sider {
        height: 10vh;
        width: 88vw;
        border-radius: 4vh;
        flex-direction: row;
        position: absolute;
        top: 5vh;
        box-shadow: 0px 7px 20px #00000050;
        transform: translateY(0px);
        transition: all 0.55s ease-in-out;

    }

    .sider:hover {
        transform: translateY(-5px);
        transition: all 0.55s ease-in-out;
    }

    .header {
        height: 5vh;
        width: 98vw;
    }

    .bar {
        display: none;
    }

    .middle-icon {
        margin-left: 7vh;
        margin-right: 7vh;
    }


}

@media screen and (min-height: 201px) and (min-width: 1001px) {
    .content {
        height: 80vh;
        width: 98vw;
        padding-top: 6vh;
    }

    .sider {
        /* margin-top: 1vh; */
        height: 100vh;
        width: 8vw;
        position: absolute;
        top: 0vh;
        left: 0vh;
        flex-direction: column;
    }

    .header {
        height: 20vh;
        width: 98vw;
        background-image: url('../assets/1x/header-8.png');
        background-size: 100vh;
        background-position: 27vw;
        background-repeat: no-repeat;
    }

    .middle-icon {
        margin-top: 7vh;
        margin-bottom: 7vh;
    }

    .logout-icon {
        margin-top: 7vh;
        margin-left: 1vh;
    }

    .inventory {

        margin-left: 10vw;
    }

    .saler-1 {
        display: flex;
    }

    .saler-2 {
        display: none;
    }

}